<header>
  <h1>Audio Stream Experiment</h1>
  <p style="font-size:1.2em;">Get your audio file ready (short ones preferred). Enter your name, then connect.<br/>You can listen to other people's streaming music, or you can stream your own.</p>
  <p>Powered by <a href="http://nodejs.org/" target="_blank">node.js</a>, <a href="https://github.com/einaros/ws" target="_blank">ws</a>, <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html" target="_blank">Web Audio API</a>, <a href="http://dev.w3.org/html5/websockets/" target="blank">WebSocket</a>. Developed by <a href="http://profiles.google.com/agektmr" target="_blank">Eiji Kitamura</a> (<a href="http://twitter.com/agektmr" target="_blank">@agektmr</a>). Source code can be found on <a href="https://github.com/agektmr/AudioStreamer" target="_blank">github</a>.</p>
</header>
<section>
  <div id="connection">
    Your name: <input type="text" id="name" value="" />
    <input type="button" id="connect" value="connect" />
  </div>
  <div>
    <div id="player" style="display:none;">
      <div id="dropper">
        <p>Drop audio file here</p>
        <input type="button" id="play_stop" value="play" disabled="disabled" />
        <div id="notification"></div>
      </div>
      <div id="visualizer">
      </div>
    </div>
  </div>
  <div id="conversation" style="display:none;">
    <div id="attendee">
      <span>attendees:</span>
      <ul id="attendees"></ul>
    </div>
    <div>
      <div id="message" style="display:none;">
        Message: <input type="text" id="text" value="" />
      </div>
      <ul id="msg"></ul>
    </div>
  </div>
</section>
<footer>
</footer>