<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand">Audio Stream Experiment</div>
    </div>
  </div>
</header>
<section class="container" ng-controller="AudioStreamerCtrl">
  <div class="hero-unit">
    <p>Try <strong>Audio Streaming over WebSocket</strong>.  (Latest Chrome browser recommended)</p>
    <p><small>...Enter your name and connect to start.</small></p>
    <div ng-show="browser_alerts">
      <ul>
        <li class="text-error" ng-repeat="alert in browser_alerts">{{alert}}</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <div id="attendee">
        <table class="table table-condensed" style="max-height: 500px; overflow-y: scroll;">
          <thead>
            <tr>
              <th>Attendees</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="form-inline">
                <input type="text" id="name" ng-model="name" ng-disabled="websocket_started" placeholder="Enter your name and connect." style="width: 190px;" />
                <input type="button" id="connect" class="btn btn-small" ng-class="{'btn-danger':websocket_started}" value="{{session_button}}" ng-click="toggle_session()" />
              </td>
            </tr>
            <tr ng-repeat="attendee in attendees">
              <td>{{attendee.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="span8">
      <div id="player" ng-controller="AudioCtrl" class="well">
        <div class="alert" ng-class="{'alert-success':notification_type=='success', 'alert-info':notification_type=='info', 'alert-error':notification_type=='error'}" ng-show="notification" style="position: fixed; font-size: 1.5em; width: 200px; min-height:50px; top:10px; right:10px;">{{notification}}</div>
        <select ng-model="mode" ng-disabled="!websocket_started" >
          <option value="file">Audio File</option>
          <option value="mic">Microphone</option>
        </select>
        <input type="button" id="play_stop" value="{{play_stop_button}}" class="btn btn-primary" ng-show="websocket_started&&mode=='file'" ng-disabled="!source_connected" ng-click="play_stop()" />
        <span ng-show="mode=='file'&&websocket_started">Drop audio file and hit "Play"</span>
        <input type="button" id="connect_audio_input" value="{{connect_audio_input_button}}" class="btn btn-primary" ng-show="websocket_started&&mode=='mic'" ng-disabled="source_connected" ng-click="connect_audio_input()" />
        <div id="visualizer" style="width: 100%; height:178px;"></div>
      </div>
      <div id="conversation">
        <div>
          <div id="message" class="form-inline">
            <input type="text" id="text" value="" ng-model="message" placeholder="Type text and enter to send chat" ng-disabled="!websocket_started" />
          </div>
          <div style="height: 150px; overflow-y: scroll;">
            <table class="table table-condensed">
              <colgroup>
                <col class="span2">
                <col class="span6">
              </colgroup>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="message in messages">
                  <td>{{message.name}}</td>
                  <td ng-class="{muted:message.type=='start_music'}">{{message.message}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <footer class="footer">
    <p>Powered by <a href="http://nodejs.org/" target="_blank">node.js</a>, <a href="https://github.com/einaros/ws" target="_blank">ws</a>, <a href="https://dvcs.w3.org/hg/audio/raw-file/tip/webaudio/specification.html" target="_blank">Web Audio API</a> and <a href="http://dev.w3.org/html5/websockets/" target="blank">WebSocket</a>. Developed by <a href="http://profiles.google.com/agektmr" target="_blank">Eiji Kitamura</a> (<a href="http://twitter.com/agektmr" target="_blank">@agektmr</a>). Source code can be found on <a href="https://github.com/agektmr/AudioStreamer" target="_blank">github</a>.</p>
  </footer>
</section>
