<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/AudioStreamer.js"></script>
    <script src="js/SpectrumVisualizer.js"></script>
    <script src="js/controllers.js"></script>
    <script src="lib/binarize.js/src/binarize.js"></script>
    <style type="text/css" media="screen">
      select {margin: 0;}
    </style>
  </head>
  <body>
  <%- body %>
  </body>
</html>
