<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="js/angular.js"></script>
    <script src="js/AudioStreamer.js"></script>
    <script src="js/SpectrumVisualizer.js"></script>
    <script src="js/controllers.js"></script>
    <script src="lib/binarize.js/src/binarize.js"></script>
    <style type="text/css" media="screen">
      select {margin: 0;}
    </style>
  </head>
  <body>
  <% include index %>
  </body>
</html>
