body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  margin:30px 0;
}

input#text {
  width:300px;
}

div#player {
  margin: 10px 0;
  padding: 5px 10px;
  border: dotted 1px gray;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
}

div#dropper {
}

div#visualizer {
  border: 1px solid #aaa;
  width: 600px;
  height:150px;
}

div#conversation {
  -webkit-box-orient: horizontal;
}

div#attendee {
  width:150px;
}

ul#msg {
  display:inline-block;
  word-wrap: break-word;
}

div#listener {
  width:600px;
  height:150px;
}